<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>CGA105G1</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>

	</welcome-file-list>

	<servlet>
		<servlet-name>NameServlet</servlet-name>
		<servlet-class>com.web.chat.controller.NameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NameServlet</servlet-name>
		<url-pattern>/chat.do</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/templates/404.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/templates/500.jsp</location>
	</error-page>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>
org.springframework.web.context.support.AnnotationConfigWebApplicationContext
</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>com.core.config.AppConfig</param-value>
	</context-param>
</web-app>
